/* Location Selector style */
#location_icon {
    width: 43px;
    height: 43px;
    position: relative;
    left: 5px;
    top: 5px;
}

.search_box {
    position: relative;
    left: 0%;
}

.search_box_content {
    width: 374px;
    height: 58px;
}

.search_box_rectangle {
    border-radius: 40px;
    border-style: solid;
    border-color: #6f6f6f;
    border-width: 1px;
    width: 374px;
    height: 58px;
    position: absolute;
    left: calc(50% - 187px);
    top: 94px;
}

.search_locations {
    position: relative;
    left: calc(50% - 134px);
    top: 110px;
    border: 0px;
    color: #6f6f6f;
    text-align: left;
    font: 400 21px 'Roboto', sans-serif;
    position: absolute;
    width: 251px;
    height: 22px;
    background-color: #d4f5ff;
}

.search_elipse {
    background: #18a0fb;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(50% - -133px);
    top: 104px;
}

.search_icon {
    width: 24px;
    position: absolute;
    top: 110px;
    left: calc(50% - -139px);
    z-index: 1;
}

.nav {
    background: #d4f5ff;
    border-radius: 18px;
    width: 100vw;
    height: 179px;
    position: relative;
    top: -55px;
    left: 0px;
}


/* Theame Change Btn Style */
.theme-reqtangle {
    background: #002738;
    border-radius: 230px;
    width: 58px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 14px;
}

.theme-elipse {
    background: #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 26px;
    position: absolute;
    right: 16px;
    top: 16px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1.00);
}




.head-img {
    border-radius: 23px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 99vw;
    height: 305px;
    position: absolute;
    left: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.today {
    color: #ffffff;
    text-align: left;
    font: 700 16px/63.92px 'Roboto Mono', sans-serif;
    position: relative;
    left: calc(99% - 134px);
    top: 272px;
    width: 138.9px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.short-desc {
    color: #e9e4e4;
    text-align: left;
    font: 700 14px/32px 'Inter', sans-serif;
    position: relative;
    left: calc(60% - 134px);
    top: 0px;
    width: calc(70% - 134px);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}
@media screen and (max-width: 768px) {
    .short-desc {
        display: none;
    }
}

.time {
    color: #d4f5ff;
    text-align: right;
    position: absolute;
    left: calc(99% - 134px);
    top: 400px;
    width: 113.56px;
    height: 53px;
}

.time-span {

    color: #d4f5ff;

    font: 700 32px/63.92px 'Roboto Mono', sans-serif;



}

.time-span2 {

    color: #d4f5ff;

    font: 700 10px/63.92px 'Roboto Mono', sans-serif;



}

.time-span3 {

    color: #d4f5ff;

    font: 700 14px/63.92px 'Roboto Mono', sans-serif;



}

.location {
    color: #000000;
    text-align: left;
    font: 700 36px/32px 'Inter', sans-serif;
    position: absolute;
    left: 19.26px;
    top: 450px;
    width: 148.03px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

html, body {
    margin: 0; 
    height: 100%; 
    overflow:hidden;
}




























.quick_weather { 	
    position: absolute;
    top: 510px;
    left: 10px;
	scale: 0.7;
}
.quick_weather { 
	width:321px;
	height:212px;
	position:absolute;
}
.quick_weather_reqtangle { 
	box-shadow:0px 4px 4px rgba(212.00000256299973, 245.00000059604645, 255, 0.25);
	background-color:rgba(212.00000256299973, 245.00000059604645, 255, 1);
	width:321px;
	height:212px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:47px;
	border-top-right-radius:47px;
	border-bottom-left-radius:47px;
	border-bottom-right-radius:47px;
}
.humidity_text { 
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:22px;
	position:absolute;
	left:27px;
	top:170px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-1;
	line-height:px;
}
.precipitation_text { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:22px;
	position:absolute;
	left:174px;
	top:170px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-1;
	line-height:px;
}
.mph_text { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:40px;
	position:absolute;
	left:271px;
	top:50px;
	font-family:Roboto Mono;
	text-align:left;
	font-size:24px;
	letter-spacing:-1;
	line-height:px;
}
.wind_speed_value { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:56px;
	position:absolute;
	left:229px;
	top:8px;
	font-family:Roboto Mono;
	text-align:left;
	font-size:48px;
	letter-spacing:-1;
	line-height:px;
}
.wind_speed_text { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:22px;
	position:absolute;
	left:163px;
	top:78px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-1;
	line-height:px;
}
.quick_weather_devider01 { 
	border-radius:500px;
	background-color:rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
	width:1px;
	height:191px;
	position:absolute;
	left:158px;
	top:8px;
}
.quick_weather_devider02 { 
	transform: rotate(-90deg);
	border-radius:500px;
	background-color:rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
	width:1px;
	height:269px;
	position:absolute;
	left:167px;
	top:-30px;
}
.temperature_text { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:22px;
	position:absolute;
	left:27px;
	top:74px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-1;
	line-height:px;
}
.temperature_value { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:56px;
	position:absolute;
	left:86px;
	top:8px;
	font-family:Roboto Mono;
	text-align:left;
	font-size:48px;
	letter-spacing:-1;
	line-height:px;
}
.humidity_value { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:56px;
	position:absolute;
	left:84px;
	top:109px;
	font-family:Roboto Mono;
	text-align:left;
	font-size:48px;
	letter-spacing:-1;
	line-height:px;
}
.precipitation_value { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:56px;
	position:absolute;
	left:224px;
	top:100px;
	font-family:Roboto Mono;
	text-align:left;
	font-size:48px;
	letter-spacing:-1;
	line-height:px;
}
.celcious_symbol { 
	color:rgba(0, 0, 0, 1);
	width:32px;
	height:40px;
	position:absolute;
	left:124px;
	top:53px;
	font-family:Roboto Mono;
	text-align:left;
	font-size:24px;
	letter-spacing:-1;
	line-height:px;
}
.percenatage_symbol01 { 
	color:rgba(0, 0, 0, 1);
	width:32px;
	height:40px;
	position:relative;
	left:122px;
	top:154px;
	font-family:Roboto Mono;
	text-align:left;
	font-size:24px;
	letter-spacing:-1;
	line-height:px;
}
.percenatage_symbol02 { 
	color:rgba(0, 0, 0, 1);
	width:32px;
	height:40px;
	position:absolute;
	left:271px;
	top:141px;
	font-family:Roboto Mono;
	text-align:left;
	font-size:24px;
	letter-spacing:-1;
	line-height:px;
}
















.weather_detail{
	width: 749px;;
	height:314px;
	position:absolute;
	top: 510px;
	right: calc(7% - 134px);
	scale: 0.8;
}
.weather_detail_rectangle { 
	box-shadow:0px 4px 4px rgba(212.00000256299973, 245.00000059604645, 255, 0.25);
	background-color:rgba(212.00000256299973, 245.00000059604645, 255, 1);
	width:100%;
	height:314px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.time01 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:12px;
	position:absolute;
	left:30px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time02 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:12px;
	position:absolute;
	left:62px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time03 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:88px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time04 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:117px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time05 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:144px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time06 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:169px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time07 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:196px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time08 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:223px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time09 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:249px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time10 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:272px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time11 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:297px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time12 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:321px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time13 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:345px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time14 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:371px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time15 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:12px;
	position:absolute;
	left:395px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time15 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:12px;
	position:absolute;
	left:425px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time16 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:12px;
	position:absolute;
	left:459px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time17 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:12px;
	position:absolute;
	left:494px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time18 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:12px;
	position:absolute;
	left:529px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time19 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:12px;
	position:absolute;
	left:565px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time20 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:12px;
	position:absolute;
	left:599px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time21 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:12px;
	position:absolute;
	left:627px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time22 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:12px;
	position:absolute;
	left:656px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time23 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:12px;
	position:absolute;
	left:686px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.time24 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:12px;
	position:relative;
	left:710px;
	top:113px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:-1;
	line-height:px;
}
.weather_detail_devider01 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1px;
	height:85px;
	position:absolute;
	left:98px;
	top:161px;
}
.weather_detail_devider02 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1px;
	height:85px;
	position:absolute;
	left:208px;
	top:161px;
}
.weather_detail_devider03 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1px;
	height:85px;
	position:absolute;
	left:321px;
	top:161px;
}
.weather_detail_devider04 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1px;
	height:85px;
	position:absolute;
	left:427px;
	top:161px;
}
.weather_detail_devider05 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1px;
	height:85px;
	position:absolute;
	left:521px;
	top:161px;
}
.weather_detail_devider06 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1px;
	height:85px;
	position:absolute;
	left:624px;
	top:161px;
}
.mon_txt { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:23px;
	position:absolute;
	left:142px;
	top:167px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-1;
	line-height:px;
}
.tue_txt { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:23px;
	position:absolute;
	left:258px;
	top:167px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-1;
	line-height:px;
}
.wed_txt { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:23px;
	position:absolute;
	left:368px;
	top:167px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-1;
	line-height:px;
}
.thu_txt { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:23px;
	position:absolute;
	left:467px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-1;
	line-height:px;
}
.fri_txt { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:23px;
	position:absolute;
	left:570px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-1;
	line-height:px;
}


.time_selector {
   width: 321px;
	height: 93px;
	position: relative;
   }

.time_selector_rectangle {
   background: #d4f5ff;
	border-radius: 27px;
	width: 321px;
	height: 93px;
	position: absolute;
	left: 0px;
   	top: 0px;
   }

._2023-09-21 {
   color: #000000;
	text-align: left;
	font: 400 17px/63.92px 'Roboto Mono', sans-serif;
	position: absolute;
	left: 21px;
   top: 36px;
	width: 108px;
	height: 18px;
	display: flex;
   align-items: center;
   justify-content: flex-start}

._2023-09-212 {
   color: #000000;
	text-align: left;
	font: 400 17px/63.92px 'Roboto Mono', sans-serif;
	position: absolute;
	left: 174px;
   top: 35px;
	width: 108px;
	height: 18px;
	display: flex;
   align-items: center;
   justify-content: flex-start}

.to {
   color: #000000;
	text-align: left;
	font: 700 17px/63.92px 'Roboto Mono', sans-serif;
	position: absolute;
	left: 136px;
   top: 40px;
	width: 25px;
	height: 12px;
	display: flex;
   align-items: center;
   justify-content: flex-start}

.click-to-edit {
   color: #000000;
	text-align: left;
	font: 400 13px/63.92px 'Roboto Mono', sans-serif;
	position: absolute;
	left: 200px;
   top: 74px;
	width: 121px;
	height: 15px;
	display: flex;
   align-items: center;
   justify-content: flex-start}




@media screen and (min-width: 912px) {
	.wrapper{
		scale: 1.4;
	}
	.weather_detail{
		top: 400px;
		right: calc(23.56% - 134px);
		scale: 0.85;
	}
	.quick_weather{
		top: 195px;
		left: 110px;
		scale: 0.8;
	}
	.time_selector{
		right: calc(-34% - 134px);
		top: 250px;
	}
}
@media screen and (min-width: 1368px) {
	.wrapper{
		scale: 1.4;
	}
	.weather_detail{
		top: 179px;
		right: calc(21.6% - 134px);
		scale: 0.89;
	}
	.quick_weather{
		top: 170px;
		left: 180px;
		scale: 0.8;
	}
	.time_selector{
		left: 186px;
		top: 380px;
		scale: 0.8;
	}
}
@media screen and (min-width: 1890px) {
	.wrapper{
		scale: 1.4;
	}
	.weather_detail{
		top: 179px;
		right: calc(26.6% - 134px);
		scale: 0.89;
	}
	.quick_weather{
		top: 170px;
		left: 380px;
		scale: 0.8;
	}
	.time_selector{
		left: 386px;
		top: 380px;
		scale: 0.8;
	}
}
@media screen and (min-width: 2560px) {
	.wrapper{
		scale: 1.4;
	}
	.weather_detail{
		top: 179px;
		right: calc(31.6% - 134px);
		scale: 0.89;
	}
	.quick_weather{
		top: 170px;
		left: 780px;
		scale: 0.8;
	}
	.time_selector{
		left: 786px;
		top: 380px;
		scale: 0.8;
	}
}
@media screen and (max-width: 912px) {
	.wrapper{
		scale: 1.4;
	}
	.weather_detail{
		top: 400px;
		right: calc(23.56% - 134px);
		scale: 0.85;
	}
	.quick_weather{
		top: 195px;
		left: 110px;
		scale: 0.8;
	}
	.time_selector{
		right: calc(-34% - 134px);
		top: 250px;
	}
}